#mainContainer {
	height: 100px;
	width: 100%;
	overflow: hidden;
}

#mainImgContainer {
	float: left;
}

#mainTextContainer {
	padding-left: 15px;
	line-height: 200%;
	float: left;
}

.queueContainer {
	height: 100px;
	width: 100%;
	float: left;
	background-color: orange;
}

.queueImgContainer {
	float: left;
}

.queueTextContainer {
	height: 100px;
	width: 100px;
	padding-left: 15px;
	line-height: 200%;
	float: left;
	background-color: red;
}

.queueVoteContainer {
	background-color: blue;
	height: 100px;
	width: 100px;
	float: right;
}