.main_content {
	background-color: "#404040";
}

#mainContainer {
	height: 100px;
	width: 100%;
	overflow: hidden;
	background-color: "#7ec42";
	padding: 15px;
}

#mainImgContainer {
	float: left;
}

#mainTextContainer {
	padding-left: 15px;
	line-height: 200%;
	float: left;
}

.queueContainer {
	height: 100px;
	width: 100%;
	float: left;
}

.queueImgContainer {
	float: left;
}

.queueTextContainer {
	height: 100px;
	padding-left: 15px;
	line-height: 200%;
	float: left;
}

.queueVoteContainer {
	padding-left: 15px;
	line-height: 200%;
	height: 100px;
	width: 100px;
	float: right;
}

.voteUp{
	background-size:30px 30px;
	background-repeat:no-repeat;
	background-image: url("http://10.48.18.111:8080/static/img/upvote-small.png");
}

.voteDown {
	background-size:30px 30px;
	background-repeat:no-repeat;
	background-image: url("http://10.48.18.111:8080/static/img/downvote-small.png");
}


.odd {
	background-color: #F0F0F0;
}

.even {
	background-color: #EBEBEB;
}

.ui-grid-a {

}

.ui-block-a {

}

.ui-block-b {

}

