
h2 {
	color: #E6E6E6;
	text-shadow: 0 0px 0 #fff;
}

#page_home{
	background-color: #404040;
}

.main_content {
	background-color: #404040;
}

#mainContainer {
	height: 100px;
	clear:both;
	min-width: 320px;
	background-color: #7EC42E;
	padding: 15px;
}

#mainImgContainer {
	float: left;
}

#mainImgContainer img {
}

#mainTextContainer { 	
	height: 100px;
	padding-left: 15px;
	width: 50%;
	float: left;
	display: inline;
	word-wrap: break-word;
	
}

.queueContainer {
	height: 100px;
	width: 100%;
	clear:both;
	min-width: 320px;
}

.queueImgContainer {
	float: left;
}

.queueTextContainer {
	height: 90px;
	padding-left: 15px;
	width: 50%;
	float: left;
	display: inline;
	word-wrap: break-word;
	padding-top: 10px;
}

.queueNumVoteContainer {
	float: right;
	height: 100px;
	width: 50px;
}

.queueVoteContainer {
	height: 100px;
	float: right;
	padding-top: 5px;
	padding-right: 10px;
}

.queueVoteContainer a {
	color: black;
	text-decoration: none;
}

.queueVoteContainer a:active {
	color: green;
}

.queueVoteContainer div {
	text-align: center;
}

.odd {
	background-color: #F0F0F0;
}

.even {
	background-color: #EBEBEB;
}

.ui-grid-a {

}

.ui-block-a {

}

.ui-block-b {

}

