
h2 {
	color: #E6E6E6;
	text-shadow: 0 0px 0 #fff;
}

.main_content {
	background-color: #404040;
}

#mainContainer {
	height: 100px;
	overflow: hidden;
	background-color: #7EC42E;
	padding: 15px;
}

#mainImgContainer {
	float: left;
}

#mainImgContainer img {
}

#mainTextContainer {
	padding-left: 15px;
	line-height: 200%;
	float: left;
}

.queueContainer {
	height: 100px;
	width: 100%;
	float: left;
}

.queueImgContainer {
	float: left;
}

.queueTextContainer {
	height: 100px;
	padding-left: 15px;
	line-height: 200%;
	float: left;
}

.queueNumVoteContainer {
	float: right;
	height: 100px;
	width: 50px;
}

.queueVoteContainer {
	height: 100px;
	width: 45px;
	float: right;
}

.voteUp{
	width:45px;
	height:45px;
	background-image: url("http://10.48.18.111/static/img/upvote-small.png");
}

.voteDown {
	width:45px;
	height:45px;
	background-image: url("http://10.48.18.111/static/img/downvote-small.png");
}


.odd {
	background-color: #F0F0F0;
}

.even {
	background-color: #EBEBEB;
}

.ui-grid-a {

}

.ui-block-a {

}

.ui-block-b {

}

